@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-container{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  min-height:80vh;
  margin-top: 30px;
}

.log-box {
  background: #09725F;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.log-box input{
  border-radius: 12px;
  background: #FFFFFF;
  color:black;
  padding:10px;
  font-size:1rem;
}


h1{
  margin-top: 100px;
}

h2{
  margin-top: 20px;
  font-size: 22px;
  max-width: 500px;
}