@import "tailwindcss";


@theme {
    --color-pine: #09725F;
    --color-lime: #86FF70;
    --color-white: #FFFFFF;
    --color-orange: #FF8847;
  }


.errorMessage {
  color: red;
  margin-top: 20px;
}

.poetsen-font {
  font-family: 'Poetsen One', sans-serif;
}


.submit-button {
  background: #01010c;
}