@import "tailwindcss";


@theme {
    --color-pine: #09725F;
    --color-lime: #86FF70;
    --color-white: #FFFFFF;
    --color-orange: #FF8847;
  }

  .poetsen-font {
    font-family: 'Poetsen One', sans-serif;
  }

  .inter-font {
    font-family: 'Inter', sans-serif;
  }
  
